biotextEngine/
*sftp-config.json
.Rproj.user
*Rproj
simple-correlation/pmid_*.R
simple-correlation/record_*.R
simple-correlation/pmids/
simple-correlation/records
simple-correlation/test
simple-correlation/plots
drugs_graph/*.txt
*__pycache__
