biotextEngine/
ndc/sftp-config.json
biotextEngine_edited/sftp-config.json
simple-correlation/sftp-config.json
.Rproj.user
*Rproj
simple-correlation/pmid_*.R
simple-correlation/record_*.R
simple-correlation/pmids/
simple-correlation/records
simple-correlation/test
simple-correlation/plots
